
* {
  box-sizing: border-box;
}

#wrapper {
  width: 90%;
}

/* ----main.php  -----------------------------------------------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile_image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#header_right {
  display: flex;
}

#logout_btn {
  border: 1px solid #000;
  margin-left: 20px;
}
 
/* ----date_input.php  -----------------------------------------------*/

#input_section {
  padding: 32px;
}

#fish_input_btn {
  margin-top:24px;
}